* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    margin-top: 30px;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;

    i {
        font-size: 30px;
        color: #ED9121;
    }

    h1 {
        font-size: 28px;
        color: #000000;
    }
}

nav {
    display: flex;
    gap: 14px;

    a {
        color: #666666;
        text-decoration: none;

        &:hover {
            color: #ED9121;
            transition: ease 0.3s;
        }
    }
}

.hero {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.heroImage {
    display: flex;
    flex-direction: column;
    position: relative;

    img {
        width: 100%;
        height: 100%;
        max-width: 1200px;
        max-height: 650px;
    }

    .dessertTitle {
        display: flex;
        align-items: center;
        position: absolute;
        width: 100%;
        color: #fff;
        top: 90%;
        background-color: #000000;
        height: 65px;
        background: linear-gradient(to top,
                rgba(10, 0, 0, 0.8),
                rgba(10, 0, 0, 0.6),
                rgba(0, 0, 0, 0.0));

        h1 {
            margin-left: 20px;
            font-weight: 600;
        }
    }
}

.details {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 1100px;
    margin-top: 20px;
}

.detailsContent {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 420px;
    align-items: center;
    gap: 10px;

    .categoria {
        background-color: #ED9121;
        padding: 8px;
        color: white;
        border-radius: 20px;
    }

    .detail {
        display: flex;
        align-items: center;
        gap: 4px;
        cursor: pointer;

        &:hover {
            color: #ED9121;
            transition: ease 0.3s;
        }

        i {
            font-size: 20px;
        }

        span {
            font-size: 16px;
        }
    }
}

.linha {
    justify-content: center;
    align-items: center;
    width: 100%;
    max-width: 1170px;
    border: solid #bdbdbd 0.5px;
    margin: 40px auto;

}

.mainContent {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 60px;
    margin-top: 20px;
}

.ingredients {
    li::marker {
        color: #ED9121;
    }
}

.ingredientsContainer {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.preparatioMethodContainer {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.sliderTitle{
    color: #ED9121;
    font-size: 16px;
    position: absolute;
    left: 350px;
    top: 28px;
}

.sliderContainer {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #f8f9fa;
    height: 500px;
}

.cardWrapper {
    display: flex;
    flex-direction: row;
    gap: 30px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: #fefefe;
    border-radius: 12px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;

    .cardLink {
        display: flex;
        flex-direction: column;
        padding: 20px;
        gap: 12px;
        text-decoration: none;
        color: #000000;

        img {
            width: 300px;
            height: 250px;
            object-fit: cover;
            border-radius: 12px;
        }

        p{
            color: #ED9121;
        }
    }

}

footer {
    background-color: #313131;
    padding: 20px;
    margin-top: 50px;

    .author {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        color: white;

        a {
            color: #ED9121;
        }
    }
}